# 1-2 skapa gles matris

In [3]:
import pandas as pd

In [4]:
ratings_raw = pd.read_csv('./data/ratings_big.csv', dtype={'userId': 'int32', 'movieId': 'int32', 'rating':'float16', 'timestamp': 'int32'})

In [5]:
ratings_drop_timestamp  = ratings_raw.drop('timestamp', axis=1)

In [7]:
users_movies_rating = ratings_drop_timestamp.set_index('userId')
users_movies_rating

        movieId  rating
userId
1           307     3.5
1           481     3.5
1          1091     1.5
1          1257     4.5
1          1449     4.5
...         ...     ...
283228     8542     4.5
283228     8712     4.5
283228    34405     4.5
283228    44761     4.5
283228    54286     4.5

[27753444 rows x 2 columns]

In [8]:
all_movieId = ratings_raw['movieId'].unique()
all_userId = ratings_raw['userId'].unique()

all_movieId, all_userId

(array([   307,    481,   1091, ..., 117857, 133409, 142855], dtype=int32),
 array([     1,      2,      3, ..., 283226, 283227, 283228], dtype=int32))

In [9]:
len(ratings_raw['movieId'].unique())

53889

In [10]:
ratings_raw.query('userId == 1')

    userId  movieId  rating   timestamp
0        1      307     3.5  1256677221
1        1      481     3.5  1256677456
2        1     1091     1.5  1256677471
3        1     1257     4.5  1256677460
4        1     1449     4.5  1256677264
5        1     1590     2.5  1256677236
6        1     1591     1.5  1256677475
7        1     2134     4.5  1256677464
8        1     2478     4.0  1256677239
9        1     2840     3.0  1256677500
10       1     2986     2.5  1256677496
11       1     3020     4.0  1256677260
12       1     3424     4.5  1256677444
13       1     3698     3.5  1256677243
14       1     3826     2.0  1256677210
15       1     3893     3.5  1256677486

In [ ]:
genres_lists = movies_raw['genres'].apply(lambda string: string.split('|'))
genres_lists.head()